@import colors
@import prefixes
@import 'components/triangle'

.ig
  @import basics
  @import GraphTip
.ig
  svg
    position relative
    z-index 1
    path
      fill none
      stroke ColorBlue
      stroke-width 4
    circle
      stroke-width 1.2
      fill white
      stroke none
      fill none
      &[cy="225"][cx="0"]
        fill ColorRed
      &.active
        stroke black
        fill white !important
    g.axis
      line
        stroke #b
        shape-rendering crispEdges
      text
        fill #6
        font-size 11px
        font-variant small-caps
    g.okruh:nth-child(2) path
      stroke ColorRed



  svg.voronoi
    z-index 3
    position absolute
    top 0px
    left 0px
    path
      stroke none
      // stroke red
      // stroke-width 1
      fill transparent
  div.graph-tips
    position absolute
    top 0px
    left 0px
    z-index 2
    .graph-tip
      width auto
      max-width 300px
      b
        display block
        white-space nowrap
      em
        display block
        white-space nowrap
        margin-bottom 2px
      .supplemental
        font-size 12px
        line-height 1.4em
        color #5
  ul.legend
    z-index 30
    position absolute
    top 20px
    left 80px
    list-style-type none
    margin 0px
    padding 0px
    li
      position relative
      padding 2px 0px
      float left
      clear both
      padding-left 16px
      &:before
        content " "
        position absolute
        top 8px
        left 0px
        width 5px
        height 5px
        background ColorBlue
      &:nth-child(2):before
        background ColorRed
